body {
  font-family: Arial, sans-serif;
  background-color: #0f0707;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: rgb(51, 8, 241);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(168, 144, 207, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px; /* agar tidak terlalu lebar di laptop */
  box-sizing: border-box;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

#gaji-info {
  margin-top: 20px;
  font-size: 18px;
}